<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <div class="content d-flex justify-content-between text-center flex-wrap">
      <div class="content__element">
        <div class="img-container d-flex justify-content-center align-items-center">
          <img src="/public/img/image 1 (1).png" />
        </div>
        <h4>Dream machines</h4>
      </div>
      <div class="content__element">
        <div class="img-container d-flex justify-content-center align-items-center">
          <img src="/public/img/image 2 (1).png" />
        </div>
        <h4>ASUS VIVOBOOK</h4>
      </div>
      <div class="content__element">
        <div class="img-container d-flex justify-content-center align-items-center">
          <img src="/public/img/image 3 (4).png" />
        </div>
        <h4>lenovo Thinkbook</h4>
      </div>
      <div class="content__element">
        <div class="img-container d-flex justify-content-center align-items-center">
          <img src="/public/img/IPhn 14.png" />
        </div>
        <h4>IPhone 14 pro max</h4>
      </div>
      <div class="content__element">
        <div class="img-container d-flex justify-content-center align-items-center">
          <img src="/public/img/IPhn chehol.png" />
        </div>
        <h4>IPhone 14 pro max white</h4>
      </div>
      <div class="content__element">
        <div class="img-container d-flex justify-content-center align-items-center">
          <img src="/public/img/IpHone BLACK.png" />
        </div>
        <h4>IPhone 14 pro black</h4>
      </div>
      <div class="content__element">
        <div class="img-container d-flex justify-content-center align-items-center">
          <img src="/public/img/IPhone Photo.png" />
        </div>
        <h4>IPhone 14 pro maax</h4>
      </div>
      <div class="content__element">
        <div class="img-container d-flex justify-content-center align-items-center">
          <img src="/public/img/white IPhn.png" />
        </div>
        <h4>White IPhone</h4>
      </div>
      <div class="content__element">
        <div class="img-container d-flex justify-content-center align-items-center">
          <img src="/public/img/iphone-13-green-128.webp" />
        </div>
        <h4>Iphone 13 Green</h4>
      </div>
    </div>
  </body>
</html>
