<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <div class="row gap-3 text-start">
      <div class="col">
        <div class="img-container d-flex justify-content-center align-items-center">
          <img src="/public/img/products/laptop_honor-magicbook.webp" />
        </div>
        <div class="mb-2">Ноутбук Honor MagicBook X16 i5 12450H / 16ГБ / 512SSD / 16 / DOS / (Born-F5651C)</div>
        <div class="mb-2 fw-bold fs-5">299 990 ₸</div>
        <button type="button" class="btn btn-info w-100">Add to cart</button>
      </div>
      <div class="col">
        <div class="img-container d-flex justify-content-center align-items-center">
          <img src="/public/img/products/laptop_honor-magicbook.webp" />
        </div>
        <div class="mb-2">Ноутбук Honor MagicBook X16 i5 12450H / 16ГБ / 512SSD / 16 / DOS / (Born-F5651C)</div>
        <div class="mb-2 fw-bold fs-5">299 990 ₸</div>
        <button type="button" class="btn btn-info w-100">Add to cart</button>
      </div>
      <div class="col">
        <div class="img-container d-flex justify-content-center align-items-center">
          <img src="/public/img/products/laptop_honor-magicbook.webp" />
        </div>
        <div class="mb-2">Ноутбук Honor MagicBook X16 i5 12450H / 16ГБ / 512SSD / 16 / DOS / (Born-F5651C)</div>
        <div class="mb-2 fw-bold fs-5">299 990 ₸</div>
        <button type="button" class="btn btn-info w-100">Add to cart</button>
      </div>
      <div class="col">
        <div class="img-container d-flex justify-content-center align-items-center">
          <img src="/public/img/products/laptop_honor-magicbook.webp" />
        </div>
        <div class="mb-2">Ноутбук Honor MagicBook X16 i5 12450H / 16ГБ / 512SSD / 16 / DOS / (Born-F5651C)</div>
        <div class="mb-2 fw-bold fs-5">299 990 ₸</div>
        <button type="button" class="btn btn-info w-100">Add to cart</button>
      </div>
    </div>
    <div class="row gap-3 text-start">
      <div class="col">
        <div class="img-container d-flex justify-content-center align-items-center">
          <img src="/public/img/products/laptop_honor-magicbook.webp" />
        </div>
        <div class="mb-2">Ноутбук Honor MagicBook X16 i5 12450H / 16ГБ / 512SSD / 16 / DOS / (Born-F5651C)</div>
        <div class="mb-2 fw-bold fs-5">299 990 ₸</div>
        <button type="button" class="btn btn-info w-100">Add to cart</button>
      </div>
      <div class="col">
        <div class="img-container d-flex justify-content-center align-items-center">
          <img src="/public/img/products/laptop_honor-magicbook.webp" />
        </div>
        <div class="mb-2">Ноутбук Honor MagicBook X16 i5 12450H / 16ГБ / 512SSD / 16 / DOS / (Born-F5651C)</div>
        <div class="mb-2 fw-bold fs-5">299 990 ₸</div>
        <button type="button" class="btn btn-info w-100">Add to cart</button>
      </div>
      <div class="col">
        <div class="img-container d-flex justify-content-center align-items-center">
          <img src="/public/img/products/laptop_honor-magicbook.webp" />
        </div>
        <div class="mb-2">Ноутбук Honor MagicBook X16 i5 12450H / 16ГБ / 512SSD / 16 / DOS / (Born-F5651C)</div>
        <div class="mb-2 fw-bold fs-5">299 990 ₸</div>
        <button type="button" class="btn btn-info w-100">Add to cart</button>
      </div>
      <div class="col">
        <div class="img-container d-flex justify-content-center align-items-center">
          <img src="/public/img/products/laptop_honor-magicbook.webp" />
        </div>
        <div class="mb-2">Ноутбук Honor MagicBook X16 i5 12450H / 16ГБ / 512SSD / 16 / DOS / (Born-F5651C)</div>
        <div class="mb-2 fw-bold fs-5">299 990 ₸</div>
        <button type="button" class="btn btn-info w-100">Add to cart</button>
      </div>
    </div>
  </body>
</html>
