<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <img src="/public/img/image 1 (1).png" width="100" />
    <h4>Dream machnes</h4>
    <img src="/public/img/image 2 (1).png" width="100" />
    <h4>ASUS VIVOBOOK</h4>
    <img src="/public/img/image 3 (4).png" width="100" />
    <h4>lenovo Thinkbook</h4>
  </body>
</html>
