.img-container {
    width: 100%;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 300px;
}

.content__element {
    width: 30%;
}